<form method="post" action="/">
  <p>
    name: <input type="text" name="name">
  </p>
  <p>
    breed: <input type="text" name="breed">
  </p>
  <p>
    age: <input type="number" name="age">
  </p>
  <button type="submit" value="submit">Submit </button>
</form>
